.modal {
    overflow-y: visible;
}
.modal-overlay {
    .modal-close {
        position: absolute;
        top: 11%;
        left: 50%;
        // right: -68px;
        // top: -45px;
        i {
            color: $primary-color;
            font-size: 70px;
            font-weight: bold;
            opacity: 0.9;
        }
        &:hover {
            i {
                opacity: 1;
            }
        }
        @media #{$medium-and-down} {

            right: 10%;
            left: auto;
        }
    }
}