.field {
    // padding-bottom: 15px;
    // line-height: 3rem;
    position: relative;
    label {
        //top: 0px;
        &.active {
            //opacity: 0;
            // @include tf(translateY(-100%));
            // background: white;
            // @extend .z-depth-1;
        }
    }
    input {
        //margin: 0px;
        //display: block;
    }
    .field-help {
        margin-top: -20px;
        font-style: italic;
        font-size: 75%;
    }
    .field-error + .field-help {
        margin-top: -10px;

    }
    .checkbox {
        .field-help {
            margin-top: 20px;
        }
    }
    .field-error {
        margin-top: -20px;
        font-style: italic;
        font-size: 75%;
        color: red;
    }
    [type="checkbox"]+label {
        top: 0px;
    }

    &.field-select {
        position: relative;
        >select {
            display: block;
        }
        >.field-select-choices {
            position: relative;
            z-index: 1;
            >ul {
                margin: 0px;
                position: absolute;
                background: white;
                top: 0px;
                left: 0px;
                right: 0px;
                max-height: 0px;
                overflow: hidden;
                > li {
                    > a {
                        cursor: pointer;
                    }
                }
            }
        }
        >input:focus ~ .field-select-choices {
            >ul {
                max-height: 300px;
                overflow: auto;
            }
        }
    }
    // .character-counter {
    //     position: absolute;
    //     top: -15px;
    //     left: 50%;
    //     background: white;
    //     padding: 5px;
    //     border-radius: 5px;
    //     border: 1px solid $secondary-color;
    // }

}