

.loading {
    position: relative;
    min-height: 50px;

    > .loading-text {
        //ab(); l(50%); t(50%); mt(10); ts(translateX(-50%));
    }
    &:after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -50px;
        z-index: 1002;
        width: 100px;
        height: 100px;
        animation: fadeIn 0.75s linear, spin 0.8s infinite linear;
        border: 2px solid white;
        border-left-width: 0px !important;
        border-top-width: 0px !important;
        border-radius: 50%;

        border: 19px solid white;
        border-left-width: 10px !important;
        border-top-width: 10px !important;
        border-radius: 18% 50% 50% 50%;
    }

    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top:  0;
        bottom: 0;
        right: 0;
        z-index: 1001;
        background: rgba($secondary-color, 0.5);
        display: inline-block;
        animation: fadeIn 0.25s linear;
    }
}


body.loading {
    &:after, &:before {
        position: fixed;
    }
}