<div class="{{ field.classes }} _{{ classes.label }}">

    {% for error in field.errors %}
        <p class="help-block orange-text {{ form.error_css_class }}">{{ error }}</p>
    {% endfor %}

    <div class="file-field input-field">
        <div class="btn">
            <span> {{ field.label }}</span>
            {{ field }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        {% if not field.field.required %}
            <input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}" />
        {% endif %}
        {% if field.value %}
            <img class="responsive-img" src="{{ field.value.url }}" alt=""  />
        {% endif %}
    </div>
</div>